.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100px;
} 

#before {
  margin-top: auto;
  margin-bottom: auto;
}

input#img {
  margin-top: auto;
  margin-bottom: 10px;
}

#after {
  margin-top: auto;
  margin-bottom: auto;
}

#canvas-container {
  display: flex;
  height: 100px;
}

#result {
  margin-top: 10px;
}

#sample-imgs {
  margin-bottom: 10px;
}